<!DOCTYPE html>
<html>
<head>
	<title>MYIP</title>
	<meta id="meta" name="viewport"
content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div id=main>
	<h1>{{ request.remote_addr }}</h1>
	{% for hdr in headers %}
		<p><strong>{{ hdr }}: </strong>{{ request.headers.get(hdr) }}</p>
	{% endfor %}
</div>
</body>
</html>